{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Предсказания для виноградников</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}" >
    <link rel="stylesheet" href="{% static 'css/index.css'%}" type="text/css">
    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=b596a4d0-dc53-4561-8ecc-b1766c91c687&lang=ru_RU" type="text/javascript"> </script>

    <script type="text/javascript">
        ymaps.ready(init);
        function init(){
            var myMap = new ymaps.Map("map", {
                center: [43.3293017383, 36.6570520132],
                zoom: 5
            });

            var placemark = new ymaps.Placemark([43.3293017383, 36.6570520132], {
                balloonContent: '<img src="http://img-fotki.yandex.ru/get/6114/82599242.2d6/0_88b97_ec425cf5_M" />',
                iconContent: "ЧЕБОКСАРЫ"}
            , {
                preset: "islands#yellowStretchyIcon",
                // Отключаем кнопку закрытия балуна.
                balloonCloseButton: false,
                 // Балун будем открывать и закрывать кликом по иконке метки.
                hideIconOnBalloonOpen: false
            });
            myMap.geoObjects.add(placemark);
        }
<!--        ymaps.geocode('Domodedovo airport').then(function (res) {-->
<!--            var end_point = ymaps.coordSystem.geo.solveDirectProblem([43.3293017383, 36.6570520132], [0, 1], 100).endPoint;-->
<!--        });-->
    </script>

</head>
<body>

<div class="container">
  <div class="row">
    <div class="col">
        <div class="container centre-content-quarter">
            <img src="{% static 'imgs/grape.png' %}" alt="photo">
        </div>
    </div>
    <div class="col">
        <div class="container centre-content-custom" style="height: 45%;">
            <h1 class="text-center">АРБУЗЕРЫ</h1>
            <img class="mx-auto d-block" src="{% static 'imgs/curly_thing.png' %}" alt="photo">
        </div>
        <br><br>
        <div class="container" style="height: 45%;">
            <div class="row menu-height">
                <div class="col-4">
                    <img class="mx-auto d-block centre-content-quarter" src="{% static 'imgs/arrow.png' %}" alt="photo">
                </div>
                <div class="col">
                    <a class="beige hover" href="/vineyards">Найти место для виноградника</a>
                </div>
            </div>
            <br>
            <div class="row menu-height">
                <div class="col-4">
                    <img class="mx-auto d-block centre-content-quarter" src="{% static 'imgs/arrow.png' %}" alt="photo">
                </div>
                <div class="col" style="padding-top: 4%;">
                    <a class="beige hover" href="/about_us">О нас</a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<body>
    <div id="map" style="width: 600px; height: 400px"></div>
</body>

</body>
</html>