{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Предсказания для виноградников</title>
    <link rel="stylesheet" href="{% static 'css/index.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}" >
    <script src="{% static 'js/index.js' %}"></script>
</head>
<body>

<div class="container">
    <h1 class="text-center">Когда только зашел на наш сайт винограда</h1>
    <img class="w-50 mx-auto d-block" src="{% static 'imgs/meme.png' %}" alt="photo">
</div>
<div class="container">
    <h1 class="text-center">Когда нашел идеальное место для виноградника</h1>
    <img class="w-50 mx-auto d-block" src="{% static 'imgs/meme_2.png' %}" alt="photo">
</div>

</body>
</html>