{% load static %}
<!DOCTYPE html>
<html lang="en">
<script>
    var selected_vineyards = JSON.parse("{{data|escapejs}}");
    var result = JSON.parse("{{ result|escapejs }}");
    console.log(result);
</script>
<head>
    <meta charset="UTF-8">
    <title>Предсказания для виноградников</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}" >
    <link rel="stylesheet" href="{% static 'css/vineyards.css'%}" type="text/css">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=88f314eb-1acd-4a20-af31-6b7ca15950b2&lang=ru_RU" type="text/javascript"> </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="{% static 'js/vineyards.js' %}"></script>
</head>

<body>
<nav class="nav" style="background-color: #22211f; height: 65px; padding-left: 5%;">
      <img src="{% static 'imgs/grape.png' %}" alt="photo" style="width: 60px; height: 60px; margin-right: 3%;">
  <a class="nav-link active link" href="/">Главная</a>
  <a class="nav-link link" href="/about_us">О нас</a>
</nav>
<div class="row">
    <div class="col-7 map-div">
      <div style="width: 100%; height: 770px;">
        <div id="map" style="width: 100%; height: 100%;"></div>
      </div>
    </div>
    <div class="col-5">
        <div style="margin-top: 5%; margin-bottom: 4%; margin-left: 0; margin-right: 5%;">
            <p class="info-text">
            Выберите одно или несколько существующих виноградных хозяйств и
            набросьте фильтры, а на карте Краснодарского края отобразятся области с территориями,
            близкими по природным характеристикам. </p>
        </div>
        <div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option1" onclick="filter_wineries(this)" checked>
              <label class="form-check-label" for="inlineCheckbox5"><p class="bigger">Показывать винзаводы</p></label>
            </div>

            <p class="bigger-font"><b>Сорта винограда:</b></p>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" onclick="filter(this)" checked>
              <label class="form-check-label" for="inlineCheckbox1"><p class="bigger">Саперави</p></label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" onclick="filter(this)" checked>
              <label class="form-check-label beige" for="inlineCheckbox2"><p class="bigger">Ркацетели</p></label>
            </div>


            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" onclick="filter(this)" checked>
              <label class="form-check-label" for="inlineCheckbox3"><p class="bigger">Совиньон Блан</p></label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4" onclick="filter(this)" checked>
              <label class="form-check-label beige" for="inlineCheckbox4"><p class="bigger">Красностоп</p></label>
            </div>

        </div>
      <div id="selected_vineyards" style="width: 600px; height: 400px;">
          <p class="bigger-font"><b>Выбранные виноградники:</b></p>
            <div class="bar_container">
                <ul id="selected_vineyards_list"></ul>
            </div>
      </div>
      <form action="" method="post">
          <input name="chosen_vineyards" id="chosen_vineyards" type="hidden" value="">
          <div class="container">
              <button class="centering_btn btn btn-outline-warning" id="submit_btn" type="submit">
                  <b>а н а л и з и р о в а т ь</b>
              </button>
          </div>
      </form>
    </div>
  </div>
</body>
</html>