{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Предсказания для виноградников</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}" >
    <link rel="stylesheet" href="{% static 'css/vineyards.css'%}" type="text/css">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=88f314eb-1acd-4a20-af31-6b7ca15950b2&lang=ru_RU" type="text/javascript"> </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="{% static 'js/vineyards.js' %}"></script>
</head>

<body>
<div class="row">
    <div class="col-7 map-div">
      <div style="width: 100%; height: 770px;">
        <div id="map" style="width: 100%; height: 100%;"></div>
      </div>
    </div>
    <div class="col-5">
        <div style="margin-top: 5%; margin-bottom: 4%; margin-left: 0; margin-right: 5%;">
            <p class="info-text">
            Выберите одно или несколько существующих виноградных хозяйств и
            набросьте фильтры, а на карте Краснодарского края отобразятся области с территориями,
            близкими по природным характеристикам. </p>
        </div>
        <div>

            <p class="bigger-font"><b>Сорта винограда:</b></p>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" onclick="filter(this)" checked>
              <label class="form-check-label" for="inlineCheckbox1"><p class="bigger">Саперави</p></label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" onclick="filter(this)" checked>
              <label class="form-check-label beige" for="inlineCheckbox2"><p class="bigger">Ркацетели</p></label>
            </div>


            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" onclick="filter(this)" checked>
              <label class="form-check-label" for="inlineCheckbox3"><p class="bigger">Совиньон Блан</p></label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4" onclick="filter(this)" checked>
              <label class="form-check-label beige" for="inlineCheckbox4"><p class="bigger">Красностоп</p></label>
            </div>

        </div>
      <div id="selected_vineyards" style="width: 600px; height: 400px;">
          <p class="bigger-font"><b>Выбранные виноградники:</b></p>
        <ul id="selected_vineyards_list"></ul>
      </div>
      <form action="" method="post">
          <input name="chosen_vineyards" id="chosen_vineyards" type="hidden" value="">
          <input id="submit_btn" type="submit" value="Submit">
      </form>
    </div>
  </div>
</body>
</html>