body {
  background-color: #383735;
}

h5 {
  font-family: Corporate A Pro Light;
}

p {
  font-family: Golos;
}


.link {
  color: #fffdd0;
  text-decoration: none;
  font-family: Golos;
  font-size: 30px;
}

.link:hover {
  color: #5A751F;
}

.link:active {
  color: #5A751F;
}

.link:focus {
  color: #5A751F;
}
