body {
  background-color: #383735;
}

.map-div {
  margin: 0 0;
  padding: 3% 3%;
}

li {
  color: #d0c1a2;
  font-size: 18pt;
  font-family: Golos;
}

p {
  color: #d0c1a2;
  font-size: 16pt;
  font-family: Golos;
}

a {
  text-decoration: none;
}

.cross-btn {
  color: white;
  font-size: 18pt;
  margin-left: 2px;
}

.cross-btn:hover {
  color: red;
  text-decoration: none;
  box-shadow: 0 0 5px 2px red;
}

.beige {
  color: #d0c1a2;
}

.form-check-input:checked {
    color: #ffc107;
    background-color: #ffc107;
    border: #fdc51f;
}

.bigger-font {
  font-size: 25pt;
}

.centering_btn {
  display: flex;
  justify-content: center;
  height: 55px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

#submit_btn{
  font-family: Golos;
  font-size: 20pt;
  border-radius: 20%;
}