body {
  background-color: #383735;
}

.map-div {
  margin: 0 0;
  padding: 3% 3%;
}

li {
  color: #d0c1a2;
  font-size: 18pt;
  font-family: Golos;
}

p {
  color: #d0c1a2;
  font-size: 16pt;
  font-family: Golos;
}

a {
  text-decoration: none;
}

.cross-btn {
  color: white;
  font-size: 18pt;
  margin-left: 2px;
}

.cross-btn:hover {
  color: red;
  text-decoration: none;
  box-shadow: 0 0 5px 2px red;
}

.beige {
  color: #d0c1a2;
}

.form-check-input:checked {
    color: #ffc107;
    background-color: #ffc107;
    border: #fdc51f;
}

.bigger-font {
  font-size: 25pt;
}

.centering_btn {
  display: flex;
  justify-content: center;
  height: 55px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  color: #fffdd0;
  text-decoration: none;
  font-family: Golos;
  font-size: 30px;
}

.link:hover {
  color: #5A751F;
}

.link:active {
  color: #5A751F;
}

.link:focus {
  color: #5A751F;
}

:root {
  --scrollbarBgColor: rgba(0, 0, 0, .05);
  --scrollbarThumbColor: rgba(0, 0, 0, .15);
  --scrollbarThumbColorSecond: rgba(255, 255, 255, .7);
  --scrollbarWidth: 16px;
  --scrollbarBorder: 0 solid var(--scrollbarBgColor);
  --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 4);
}

.bar_container {
  overflow-y: scroll;
  max-height: 65%;
  scrollbar-width: 16px;
  scrollbar-color: rgba(0, 0, 0, .15) rgba(0, 0, 0, .05);
}
.bar_container::-webkit-scrollbar {
  width: var(--scrollbarWidth);
}
.bar_container::-webkit-scrollbar-track {
  background: var(--scrollbarBgColor);
  border-radius: var(--scrollbarBorderRadius);
}
.bar_container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumbColor);
  border-radius: var(--scrollbarBorderRadius);
  border: var(--scrollbarBorder);
  background-image: linear-gradient(
    180deg,
    var(--scrollbarThumbColor) 0%,
    var(--scrollbarThumbColorSecond) 90%
  );
}

#submit_btn{
  font-family: Golos;
  font-size: 20pt;
  border-radius: 20%;
}
